<%- include('shared/head.ejs') %>
</head>
<body>
    <%- include('shared/navbar.ejs') %>
    <main>
    <h1>babe there is nothing here</h1>
    <h2>404 sorry</h2>
    </main>
    <%- include('shared/butt.ejs') %>
